<h1>Listado de Peticiones</h1>
<table class="table table-striped">
	<tr>
		<th>Aula</th>
		<th>Materia</th>
		<th>Docente</th>
		<th>Observaciones</th>
		<th>Estado</th>
		<th>Acciones</th>
	</tr>
	<% @reservas.each do | reserva| %>

	<tr>
		<td>
			<%= reserva.aula.nombre %>
		</td>
		<td>
			<%= reserva.materia %>
		</td>
				
		<td>
			<%= reserva.user.name %>
		</td>	
		
		<td>
			<%= reserva.observaciones %>
		</td>	
		<% case reserva.esta_aceptada %>
			<% when "Pendiente" %>
  			<td>
			Pendiente de Aprobacion
			</td>
			<td>
			<%= link_to 'Aceptar', url_for(:reservas, :validate, :reserva_id => reserva.id, ), :class => "btn btn-primary" %>

			<%= link_to 'Rechazar', url_for(:reservas, :rechazar, :reserva_id => reserva.id, ), :class => "btn btn-warning" %>
			</td>
			<% when "Aceptada" %>
						<td>
						Aceptada
						</td>
						<td>
						"Por ahora no hay acciones"
						</td>
			<% when "Rechazada" %>
						<td>
						Cancelada
						</td>
						<td>
						"Por ahora no hay acciones"
						</td>
	<% end %>	

		
	
	</tr>

 
<% end %>	
</table>

