<h1>Listado de Aulas</h1>
<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Cantidad de Alumnos</th>
		<th>Proyector</th>
		<th>Tipo de Pizarron</th>
		<th>Computadoras</th>
		<th>Tipo de aula</th>
		<th>Observaciones</th>
	</tr>
	<% @aulas.each do | aula| %>

	<tr>
		<td>
			<%= aula.nombre %>
		</td>
		<td>
			<%= aula.capacidad %>
		</td>
		<td>
			<%= aula.proyector %>
		</td>	
		<td>
			<%= aula.tipodepizarra %>
		</td>	
		<td>
			<%= aula.computadoras %>
		</td>			

		<td>
			<%= aula.tipodeaula %>
		</td>	

		<td>
			<%= aula.observaciones %>
		</td>	
		
	</tr>

  <% end %>

</table>
