<h1>Confirmar Pedido del Aula <%=@pedido.aula.nombre %> </h1> 

<% form_for(@pedido, '/pedidos/create') do |f| %>
 
  <%= partial 'pedidos/form', :locals => { :f => f } %>
	
<input type="hidden" name="aula_id" value="<%= @pedido.aula.id %>" />

  <%= f.submit "Crear", :class => "btn btn-primary" %>
  <%= link_to 'Cancelar', url_for(:pedidos, :listar), :class => "btn btn-secondary" %>
<% end %>

