<h1>Listado de Aulas</h1>
<table class="table table-striped">
	<tr>
		<th>Nombre</th>
		<th>Cantidad de Alumnos</th>
		<th>Proyector</th>
		<th>Tipo de Pizarron</th>
		<th>Computadoras</th>
		<th>Tipo de aula</th>
		<th>Observaciones</th>
		<th>Estado</th>
		<th>Acciones</th>
	</tr>
	<% @aulas.each do | aula| %>

	<tr>
		<td>
			<%= aula.nombre %>
		</td>
		<td>
			<%= aula.capacidad %>
		</td>
		
		<% if aula.proyector %>	
		<td>
			Si
		</td>
		<% end %>	
		
		<% if !aula.proyector %>	
		<td>
			No
		</td>
		<% end %>	
		
		<td>
			<%= aula.tipodepizarra %>
		</td>	
		
		<% if aula.computadoras %>	
		<td>
			Si
		</td>
		<% end %>	
		
		<% if !aula.computadoras %>	
		<td>
			No
		</td>
		<% end %>	

		<td>
			<%= aula.tipodeaula %>
		</td>	

		<td>
			<%= aula.observaciones %>
		</td>
		
		<% if aula.estado %>	
		<td>
			Reservada
		</td>
		<% end %>	
		
		<% if !aula.estado %>	
		<td>
			Disponible
		</td>
		<% end %>	
		
		<td>
			<%= link_to 'Pedir', url_for(:pedidos, :new, :aula_id => aula.id , :aula_estado => aula.estado), :class => "btn btn-primary" %>
		</td>		
		
	</tr>

  <% end %>

</table>

